@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(76, 66, 254);
  background: linear-gradient(
    90deg,
    rgba(76, 66, 254, 0.1) 0%,
    rgba(89, 89, 249, 0.25) 35%,
    rgba(44, 112, 255, 0.3) 44%,
    rgba(77, 200, 224, 0.25) 100%
  );
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
